* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: auto;
    max-width: 550px;
    background-color: #f1f1f1;
    border-radius: 1rem 1rem 0 0;
    border: 2px solid darkgreen;
}

main h1 {
    background-color:darkgreen;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    font-size: 2em;
    padding: 1rem 0 1rem;
    color: whitesmoke;
}

main ul {
    list-style: none;
    text-align: center;
    width: 100%;
    height: auto;
}

main ul li {
    border-top: 1px solid #333;
}

main ul li:first-child {
    border: none;
}

main ul li a,
main ul li a:visited {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main ul li a:hover,
main ul li a:focus {
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
}

main footer {
    background-color: darkgreen;
    color: whitesmoke;
    padding: 1rem;
}