* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
    min-height: 100vh;
}

header {
    width: 100%;
    height: auto;
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 0.8rem;
    font-size: 3em;
    font-weight: 100;
    color: red;
}

header nav {
    margin: 0 auto 1rem;
}

header nav a {
    text-decoration: none;
    color: #333;
    border-right: 1px solid #333;
    padding: 0 1rem 0;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 1px;
}

header nav a:last-child {
    border: none;
}

main {
    margin: 1rem auto 0;
    width: 100%;
    height: 100%;
    max-width: 550px;
}

.title-container {
    margin: 0.5rem 0 0.5rem;
}

.title-container .box-title {
    width: 30px;
    height: 30px;
    float: left;
    background-color: red;
    margin-right: 1rem;
}

.title-container p {
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #444;
}

.title-container h2 {
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1em;
    color: red;
}

.main-content {
    display: flex;
}

.main-content p {
    font-size: 1em;
    margin-top: 1rem;
}

.main-content img {
    margin: 1rem 1rem 1rem 2rem;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
}

footer p {
    font-size: 1em;
    padding: 1rem;
    font-family: monospace;
}

@media (max-width: 600px) {
    header nav a {
        border: none;
    }

    .title-container {
        margin: 1rem 1rem 0;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1rem 0;
    }

    .main-content img {
        margin: 1rem auto 0.5rem;
    }

    footer {
        position: relative;
    }
}