* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
}

/* header */
header {
    background-color: #615EFC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
}
.page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid whitesmoke;
}
.page .number-page {
    padding: 0.7rem;
    font-size: 1em;
    font-weight: bold;
    background-color: whitesmoke;
    color: #615EFC;
}
.page .title-page {
    padding: 0.7rem;
    font-size: 1em;
    letter-spacing: 2px;
    color: whitesmoke;
}

.heading {
    padding: 0.5rem;
}
.heading h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    color: whitesmoke;
}

/* Main Content */
main {
    margin: 9rem 1rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.content-box {
    max-width: 520px;
    margin: 8px auto 18px;
}
.content-box img {
    max-width: 260px;
    float: left;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-right: 0.8rem;
}
.content-box img::after {
    content: "";
    display: table;
    clear: both;
}
.content-box h3 {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}
.content-box p {
    line-height: 1.6;
    font-size: 1em;
}
.content-box h3 .price {
    color: #615EFC;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #615EFC;
    width: 100%;
}

footer p {
    text-align: center;
    padding: 0.7rem;
    color: whitesmoke;
}

@media (max-width: 585px) {

    .content-box {
        width: 100%;
        max-width: 370px;
        margin-bottom: 0.7rem;
    }

    .content-box img {
        float: none;
        max-width: 200px;
    }
}